@use './variables.scss'as var;
@use './mixins.scss';

.no-scroll {
    overflow-y: hidden;
}

.callout {
    @include mixins.invert;
}

.skip-link {
    background: var(--background);

    &:focus {
        position: absolute;
        left: 0;
        margin-left: .5rem;
        height: auto;
        width: auto;
        padding: 0.5em;
        outline-offset: 0.25em;
        margin-top: 0.5rem;
    }

    &:active {
        position: absolute;
        left: 0;
        margin-left: .5rem;
        height: auto;
        width: auto;
        padding: 0.5em;
        outline-offset: 0.25em;
        margin-top: 0.5rem;
    }
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1rem 4rem 1rem;
    background-color: var(--background--offset);

    &.row {
        margin-top: 4rem;
    }

    &__item {
        flex-basis: 100%;
        min-width: 100%;
        list-style: none;
        border: .5em solid var(--foreground);
        background: var(--background);
        border-radius: 1em;
        transition: .2s all;
        margin-top: 1rem;
        overflow: hidden;

        &:hover {
            transform: translate(0, -.125rem);
            box-shadow: 0px .125rem 6px 1px rgb(0 0 0 / 25%);
        }

        &[data-learning-level] {
            border-color: var(--foreground);
        }

        .card-list--learning-level--1 & {
            &[data-learning-level="1"] {
                border-color: var(--emphasis);
            }

            &[data-learning-level="2"] {
                border-color: var(--warning);
            }

            &[data-learning-level="3"] {
                border-color: var(--alert);
            }
        }
    }

    &__link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: .45em;

        &:focus {
            outline-offset: -.2em;
        }
    }

    &__title {
        text-decoration: underline;
        padding: .5em .75rem .125em 1rem;
        border-top: .25rem solid;
        [data-learning-level="1"] & {
                border-top: .25rem solid var(--emphasis);
            }

        [data-learning-level="2"] & {
                border-top: .25rem solid var(--warning);
            }

        [data-learning-level="3"] & {
                border-top: .25rem solid var(--alert);
            }
    }

    &__summary {
        padding: .125em 1.5em 0 1rem;
        margin-bottom: 1em;
        font-size: .9em;
        line-height: 1.1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__feature {
        height: 24vh;
        box-shadow: 0 -2px 10px rgb(0 0 0 / 33%) inset;
        transition: .2s box-shadow;

        .card-list__item:hover & {
            box-shadow: 0 -2px 4px rgb(0 0 0 / 25%) inset;
        }
    }

    &__cta {
        margin-top: auto;
        align-self: flex-end;
        border-bottom-right-radius: 0.4em;
        padding-left: 0.33em;
        padding-right: 0.25em;
        border-top-left-radius: 0.5em;
        color: var(--background);
        background: var(--emphasis);
    }

    &__image {
        margin: 0 auto;
        aspect-ratio: 1 / 1;
        max-height: 24vh;

        &--padded {
            padding: 1em;
        }
    }

    &__video {
        max-height: 24vh;
    }

    &--learning-level {
        &-1 {
            background: var(--emphasis);
        }

        &-2 {
            background: var(--warning);
        }

        &-3 {
            background: var(--alert);
        }
    }
}

[data-filter-list-item="1"] {
    background: var(--emphasis);
    color: var(--background);
}

[data-filter-list-item="2"] {
    background: var(--warning);
}

[data-filter-list-item="3"] {
    background: var(--alert);
}

@media (min-width: var.$breakpoint) {
    .card-list {
        min-height: calc(100vh - 10em);

        &__item {
            flex-basis: 16rem;
            min-width: 16rem;
            margin-right: 1rem;
        }
    }
}

.callout {
    &.small {
        line-height: 1.2rem;
        font-size: .8rem;

        &>* {
            line-height: 1.2em;
            font-size: .8rem;
        }
    }
}
@media screen and (prefers-reduced-motion: no-preference) { 
    .nav__links {
        transition: transform .5s;
    }
}

.nav {
    display: flex;
    align-items: center;
    
    &__links {
        @include mixins.invert;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        transform: translateX(-100vw);
        &--expanded {
            transform: translateX(0);
        }    
        & ul {
            padding-left: max(36vw, 2rem);
            padding-right: 2rem;
        }
    }


    &__toggle-button {
        margin-left: 1rem;
        outline-offset: .25rem;
        margin-top: .125rem;
        &--close {
            margin-top: .5rem;
        }
    }
    &__search-box {
        margin-left: auto;
        position: relative;
        max-width: 50%;

        &:focus-within {
            &__search-input {
                flex-basis: auto;
            }
        }
    }

    &__search-input {
        outline-offset: -.125em;
    }

    &__search-results {
        width: 100%;
        height: 0;
        overflow: hidden;

        &:focus-within {
            height: auto;
            background: var(--foreground);
            padding: 0 .5em .25em;
            box-shadow: 0px 1px 3px 0 var(--background);
        }

        .nav__search-input:focus+& {
            &:not(:empty) {
                height: auto;
                background: var(--foreground);
                padding: 0 .5em .25em;
                box-shadow: 0px 1px 3px 0 var(--background);
            }
        }
    }
}
@media (min-width: var.$breakpoint) { 
    .nav__links {
        width: 50vw;
        transform: translateX(-50vw);
        &--expanded {
            transform: translateX(0);
            box-shadow: 0 0 6vw var(--foreground);
        }    
    }
}
#search {
    .no-js & {
        display: none;
    }

    border-bottom: .125em solid var(--foreground);
    display: block;
    background-image: url('/icons/search.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - .5em) center;
    padding: 0.5em;
    background-size: 1.5em;
    max-width: 100%;
}

#searchResults {
    display: block;
    position: absolute;

    & li {
        width: 100%;
        @include mixins.invert;

        & a {
            outline-offset: 0;
            display: flex;
            width: 100%;
        }

        & .pill {
            text-decoration: none;
            font-size: small;
            background: var(--background);
            color: var(--foreground);
            margin-left: auto;
            height: 50%;
            align-self: center;
            padding: 0 0.5em;
            border-radius: 0.25em;
        }
    }
}

.toc {
    & h2 {
        margin-top: 0;
        margin-bottom: 1em;
    }
}

.filter-strip {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    border-bottom: .25rem solid var(--foreground);

    .no-js & {
        display: none;
    }

    & li {
        flex-grow: 1;
        text-align: center;
        padding-top: .125rem;
        outline-offset: 0;
        padding-bottom: 1rem;
        margin-bottom: -.75rem;

        &:first-child {
            border-top: .125rem solid var(--foreground);
        }

        &:first-child.active {
            border-top: .125rem solid transparent;
        }

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        & button {
            width: 100%;
            height: 100%;

            &:hover {
                cursor: pointer;
            }
        }

        &.active {
            @include mixins.invert;
            clip-path: polygon(.5rem 0, calc(100% - .5rem) 0, 100% .5rem, 100% 100%, 0 100%, 0 .5rem);
            margin-bottom: -1px;
            cursor: none;
            border-color: transparent;
            padding-bottom: .125rem;
            margin-top: -.125rem;

            & button {
                cursor: auto;
            }
        }
    }
}

@media (min-width: var.$breakpoint) {
    .filter-strip {
        flex-direction: row;
        padding: 0 1rem;

        & button {
            padding: 0 1rem;
            line-height: 1.1;
        }

        & li {
            transition: margin-top .25s, padding-bottom .25s;
            border-top: .125rem solid var(--foreground);
            border-bottom: 0 solid transparent;
            border-right: .125rem solid var(--foreground);
            border-left: .125rem solid var(--foreground);
            margin-left: max(.5vw, .125rem);
            margin-right: max(.5vw, .125rem);
            padding-bottom: 0;
            margin-bottom: 0;

            &.active {
                padding-bottom: .25rem;
                margin-top: -.25rem;
                clip-path: polygon(.75rem 0, 100% 0%, 100% 100%, 0 100%, 0 .75rem);
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                padding-bottom: .25rem;
                margin-top: -.25rem;
            }

            &:focus-within {
                padding-bottom: .25rem;
                margin-top: -.25rem;
            }
        }
    }
}

.summary {
    display: inline-block;
    max-width: 60ch;
    &__image {
        object-fit: contain;

        &--padded {
            padding: .5em;
        }

        &-container {
            max-height: 20vh;
            display: flex;
            [data-difficulty="1"] & {
                background: var(--emphasis);
            }

            [data-difficulty="2"] & {
                background: var(--warning);
            }

            [data-difficulty="3"] & {
                background: var(--alert);
            }
        }
    }
}

@media (min-width: var.$breakpoint) {
    .summary-container {
        clip-path: polygon(.75rem 0, 100% 0, 100% 100%, .75rem 100%, 0 calc(100% - .75rem), 0 .75rem);
    }
}