@use './variables.scss' as var;
@use './mixins.scss';

.no-scroll {
    overflow-y: hidden;
}

.no-js .hide-without-js {
    display: none !important;
}

.skip-link {
    background: var(--background);

    &:focus {
        position: absolute;
        left: 0;
        margin-left: .5rem;
        height: auto;
        width: auto;
        padding: 0.5em;
        outline-offset: 0.25em;
        margin-top: 0.5rem;
    }

    &:active {
        position: absolute;
        left: 0;
        margin-left: .5rem;
        height: auto;
        width: auto;
        padding: 0.5em;
        outline-offset: 0.25em;
        margin-top: 0.5rem;
    }
}

$card-list-border: .25em;

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1rem 4rem 1rem;
    background-color: var(--background--offset);

    &.row {
        margin-top: 4rem;
    }

    &__item {
        flex-basis: 100%;
        min-width: 100%;
        list-style: none;
        border: $card-list-border solid var(--foreground);
        background: var(--background);
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        transition: .2s all;
        margin-top: 1rem;
        overflow: hidden;

        &:hover {
            transform: translate(0, -.125rem);
            box-shadow: 0px .125rem 6px 1px rgb(0 0 0 / 25%);
        }

        &[data-learning-level] {
            border-color: var(--foreground);
        }

        .card-list--learning-level--1 & {
            &[data-learning-level="1"] {
                border-color: var(--emphasis);
            }

            &[data-learning-level="2"] {
                border-color: var(--warning);
            }

            &[data-learning-level="3"] {
                border-color: var(--alert);
            }
        }
    }

    &__link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: .45em;

        &:focus {
            outline-offset: -.2em;
        }
    }

    &__title {
        text-decoration: underline;
        padding: .5em .75rem .125em 1rem;
        border-top: .5rem solid;
        line-height: 1.1;

        [data-learning-level="1"] & {
            border-top: .5rem solid var(--emphasis);
        }

        [data-learning-level="2"] & {
            border-top: .5rem solid var(--warning);
        }

        [data-learning-level="3"] & {
            border-top: .5rem solid var(--alert);
        }
    }

    &__summary {
        padding: .5em 1.5em 0 1rem;
        margin-bottom: 1em;
        font-size: .9em;
        line-height: 1.1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__feature {
        height: 24vh;
        box-shadow: 0 -2px 10px rgb(0 0 0 / 33%) inset;
        transition: .2s box-shadow;

        .card-list__item:hover & {
            box-shadow: 0 -2px 4px rgb(0 0 0 / 25%) inset;
        }

        [data-learning-level="1"] & {
            background-color: var.opcty(var.$green-60, '50');
        }

        [data-learning-level="2"] & {
            background-color: var.opcty(var.$gold-40, '50');
        }

        [data-learning-level="3"] & {
            background-color: var.opcty(var.$coral-60, '50');
        }
    }

    &__cta {
        margin-top: auto;
        align-self: flex-end;
        // border-bottom-right-radius: 0.4em;
        padding-left: 0.5em;
        padding-right: 0.25em;
        border-top-left-radius: 0.5em;
        color: var(--background);
        background: var(--emphasis);
        font-size: .9em;
    }

    &__image {
        margin: 0 auto;
        aspect-ratio: 1 / 1;
        max-height: 24vh;
        width: fit-content;
        min-width: 50%;
        &--padded {
            padding: 1em;
        }
    }

    &__video {
        max-height: 24vh;
    }

    &--learning-level {
        &-1 {
            background: var(--emphasis);
        }

        &-2 {
            background: var(--warning);
        }

        &-3 {
            background: var(--alert);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .card-list {
        &__cta {
            color: var(--foreground);
        }

        &--learning-level {
            &-1 {
                background: var(--background--offset);
            }

            &-2 {
                background: var(--background--offset);
            }

            &-3 {
                background: var(--background--offset);
            }
        }

        &__item {
            &[data-learning-level="1"] {
                border-color: var(--emphasis);
            }

            &[data-learning-level="2"] {
                border-color: var(--warning);
            }

            &[data-learning-level="3"] {
                border-color: var(--alert);
            }

            // &:hover {
            //     box-shadow: 0 .125rem 6px 1px rgba(0, 0, 0, .25);
            //     & .card-list__feature {
            //         box-shadow: 0 -2px 4px rgb(0 0 0 / 25%) inset;
            //     }
            // }
        }
    }
}

a[data-filter-option] {
    display: inline-block;
    width: 100%;
    outline-offset: -.125rem;
    padding: .25rem;
    line-height: 1.2;
    text-decoration: none;
}

@media (min-width: var.$breakpoint) {
    a[data-filter-option] {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

[data-filter-list-item="1"] {
    background: var(--emphasis);
    color: var(--background);
}

@media (prefers-color-scheme: dark) {
    [data-filter-list-item="1"] {
        color: var(--foreground);
    }
}

[data-filter-list-item="2"] {
    background: var(--warning);
}

@media (prefers-color-scheme: dark) {
    [data-filter-list-item="2"] {
        color: var(--background);
    }
}

[data-filter-list-item="3"] {
    background: var(--alert);
}

@media (prefers-color-scheme: dark) {
    [data-filter-list-item="3"] {
        color: var(--background);
    }
}

@media (min-width: var.$breakpoint) {
    .card-list {
        padding-top: 1rem;
        min-height: calc(100vh - 10em);
        gap: 2rem;

        &__item {
            flex-basis: 16rem;
            min-width: 16rem;
        }
    }
}

.callout {
    &.small {
        line-height: 1.2rem;
        font-size: .8rem;

        &>* {
            line-height: 1.2em;
            font-size: .8rem;
        }
    }
}

// @media screen and (prefers-reduced-motion: no-preference) { 
//     .nav__links {
//         transition: transform .5s;
//     }
// }

.nav {
    display: flex;
    align-items: center;
    border-bottom: .125rem solid;
    @include mixins.null-1;
    &__links {
        @include mixins.invert;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        transform: translateX(-100vw);

        &--expanded {
            transform: translateX(0);
        }

        & ul {
            padding-top: 1rem;
            padding-right: 2rem;
        }
    }


    &__toggle-button {
        @include mixins.null-child;
        padding-left: .75rem;
        outline-offset: .25rem;
        border-right: 0.125rem solid;
        padding-right: 0.75rem;
        align-self: stretch;
        &--close {
            align-self: stretch;
        }
    }

    &__toggle-tap-to-close {
        font-size: 0;

        &--open {
            width: 70vw;
            height: 100vw;
            opacity: 0;
            right: 0;
            position: absolute;
        }
    }

    &__search-box {
        margin-left: auto;
        position: relative;
        max-width: 75%;
        outline-offset: .2em;
        padding-left: .5rem;
        @include mixins.null-child;
        border-left: .125rem solid;
        &:focus-within {
            &__search-input {
                flex-basis: auto;
            }
        }

        &-icon {
            position: absolute;
            top: 0.5rem;
            right: 1rem;
            height: 1.5rem;
        }
    }

    &__search-input {
        outline-offset: -.125em;
    }

    &__search-results {
        width: 100%;
        height: 0;
        overflow: hidden;

        &:focus-within {
            height: auto;
            background: var(--foreground);
            padding: 0 .5em .25em;
            box-shadow: 0px 1px 3px 0 var(--background);
        }


        .nav__search-box:focus-within & {
            &:not(:empty) {
                height: auto;
                padding: 0;
                box-shadow: 0px 1px 3px 0 var(--background);
            }
        }

        // .nav__search-input:focus+& {
        //     &:not(:empty) {
        //         height: auto;
        //         background: var(--foreground);
        //         padding: 0 .5em .25em;
        //         box-shadow: 0px 1px 3px 0 var(--background);
        //     }
        // }
    }
}
.nav__links-close-target {
    height: 3.33rem;
    @include mixins.null-3;
    border-bottom: .125rem solid;
    display: flex;
    .no-js & {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    .nav, .nav__links-close-target {
        box-shadow: 0 0 1rem var(--background--offset) inset;
    }
}

@media (min-width: var.$breakpoint) {
    .nav__links {
        width: max(20vw, 10rem);
        transform: translateX(-30vw);

        &--expanded {
            transform: translateX(0);
            box-shadow: 0 0 6vw var(--foreground);
            background: var(--background);
            color: var(--foreground);
            border-right: .5rem solid var(--foreground);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .nav__links {
        background: var(--background--offset);
        color: var(--foreground);
    }

    .nav__toggle-button--close .svg-fill--inverted {
        fill: var(--foreground);
        stroke: var(--foreground);
    }
}


@media (prefers-color-scheme: dark) and (min-width: var.$breakpoint) {
    .nav__links--expanded {
        background: var(--background);
        box-shadow: 1vw 0 1vw var(--background);
        border-width: .125rem;
        border-top: none;
        border-bottom: none;
    }
}
// .nav__search-input
#search {
    .no-js & {
        display: none;
    }

    border-bottom: .1em dotted var(--foreground);
    display: block;
    padding: 0.5em;
    margin-bottom: .5em;
    margin-right: 1rem;
    background-size: 1.5em;
    max-width: 100%;
}

// nav__search-results
#searchResults {
    display: block;
    position: absolute;

    & li {
        width: 100%;
        // @include mixins.invert;
        background-color: var(--background);
        padding: .5em;

        &:nth-child(even) {
            background-color: var(--background--offset);

            & .pill {
                background-color: var(--background);
            }
        }

        & a {
            outline-offset: 0;
            display: flex;
            width: 100%;
            line-height: 1.1;
        }

        & .pill {
            text-decoration: none;
            font-size: small;
            background: var(--background--offset);
            color: var(--foreground);
            margin-left: auto;
            height: 50%;
            align-self: center;
            padding: 0 0.5em;
            border-radius: 0.25em;
        }
    }
}

.toc {
    & .col {
        @include mixins.null-child;
        border: .125rem solid;
        padding: 2rem;
        margin-top: 2rem;
        background: var(--background--offset);
    }
    & h2 {
        margin-top: 0;
        margin-bottom: 1em;
        font-size: 1.25em;
        text-align: center;
        padding-top: 0;
    }
    & ol {
        text-align: center;
        & li {
            list-style-position: inside;
        }
    }
}

.filter-strip {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 1rem;

    border-top: .05rem solid var(--foreground);
    border-bottom: .05rem solid var(--foreground);

    .no-js & {
        display: none;
    }

    & li {
        flex-grow: 1;
        text-align: center;
        outline-offset: 0;

        &:first-child {
            background: var(--background--offset);
        }

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        & button {
            width: 100%;
            height: 100%;

            &:hover {
                cursor: pointer;
            }
        }

        &.active {
            cursor: none;
            position: relative;

            &:before {
                content: "";
                background: var(--foreground);
                left: 0;
                top: 0;
                position: absolute;
                height: 100%;
                width: 1rem;
                display: block;
                clip-path: polygon(0 30%, 35% 30%, 35% 10%, 100% 50%, 35% 90%, 35% 70%, 0 70%);
            }

            &:after {
                content: "";
                background: var(--foreground);
                right: 0;
                top: 0;
                position: absolute;
                height: 100%;
                width: 1rem;
                display: block;
                clip-path: polygon(65% 10%, 65% 30%, 100% 30%, 100% 70%, 65% 70%, 65% 90%, 0% 50%);
            }

            &[data-filter-list-item="2"] {
                &:before {
                    background: var(--background);
                }

                &:after {
                    background: var(--background);
                }

            }

            &[data-filter-list-item="3"] {
                &:before {
                    background: var(--background);
                }

                &:after {
                    background: var(--background);
                }
            }

            & button {
                cursor: auto;
            }
        }
    }
}

@media (min-width: var.$breakpoint) {
    .filter-strip {
        flex-direction: row;
        padding: 1rem 0 0;
        border-bottom: .125rem solid var(--foreground);
        border-top: 0 solid transparent;

        & button {
            padding: 0 1rem;
            line-height: 1.1;
        }

        & li {
            transition: margin-top .25s, padding-bottom .25s;
            border-top: .125rem solid var(--foreground);
            border-bottom: 0 solid transparent;
            border-right: .125rem solid var(--foreground);
            border-left: .125rem solid var(--foreground);
            // margin-left: max(.5vw, .125rem);
            // margin-right: max(.5vw, .125rem);
            padding-bottom: 0;
            margin-bottom: 0;
            min-width: 12vw;
            display: flex;
            align-items: center;
            margin-right: -.125rem;
            &.active {
                @include mixins.invert;
                margin-bottom: -1px;
                cursor: none;
                border-color: transparent;
                padding-bottom: .25rem;
                margin-top: -.25rem;

                &:before {
                    content: none;
                }

                &:after {
                    content: none;
                }
            }

            &:first-child {
                margin-left: 0;
                border-left: 0 solid transparent;
            }

            &:last-child {
                margin-right: 0;
                border-right: 0 solid transparent;
            }

            &:hover {
                padding-bottom: .25rem;
                margin-top: -.25rem;
            }

            &:focus-within {
                padding-bottom: .25rem;
                margin-top: -.25rem;
            }
        }
    }
}

.summary {
    display: inline-block;
    max-width: 60ch;
    padding: 1rem;
    border-top: .125rem solid;
    background: var(--background--offset);
    &-container { 
        background: var(--null-1);
        margin-top: 8vh;
        border-top: .125rem solid;
        border-bottom: .125rem solid;
    }

    &__image {
        object-fit: contain;
        margin-top: 0;
        min-width: 12rem;
        .summary__image-container--photo & {
            backdrop-filter: saturate(2) blur(5px);
        }
        &--padded {
            padding: .5em;
        }

        &-container {
            flex-basis: 20vw;
            display: flex;
            justify-content: center;

            [data-difficulty="1"] & {
                background: var(--emphasis);
            }

            [data-difficulty="2"] & {
                background: var(--warning);
            }

            [data-difficulty="3"] & {
                background: var(--alert);
            }
        }
    }
}
@media (prefers-color-scheme: dark) {
    .summary-container {
        box-shadow: 0 0 1rem var(--background--offset) inset;
    }
}
@media (min-width: var.$breakpoint) {
    .summary {
        border-left: .125rem solid;
        border-right: .125rem solid;
        border-top: 0 solid transparent;
        padding: 2rem 3rem;
        display: flex;
        align-items: center;
    }
}

.svg-hero {
    aspect-ratio: 240 / 31;
    &--honeycomb {
        margin-top: 2rem;
    }
}

@media (min-width: 1080px) {
.svg-hero--honeycomb {
        margin-top: 3rem;
    }
    .svg-hero--waves {
        margin-bottom: -2rem;
        &__path {
            transform: translateY(-1rem);
            filter: drop-shadow(2px 4px 6px var(--background--offset));
        }
    }
}

[data-difficulty="1"] .svg-hero__path {
    fill: var(--emphasis);
    stroke: var(--emphasis);
}
[data-difficulty="2"] .svg-hero__path {
    fill: var(--warning);
    stroke: var(--warning);
}
[data-difficulty="3"] .svg-hero__path {
    fill: var(--alert);
    stroke: var(--alert);
}

.progress {
  height: 3px;
  width: 0%;
  background-color: var(--foreground);
  position: fixed;
  top: 0;
  left: 0;
  // animation: progress 1s linear;
    /* Pause the animation */
    animation-name: progress;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal;
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes progress {
  to {
    background-color: var(--null-1);
    width: 100%;
  }
}