@use './variables.1.scss'as var;

.show-for-sr {
    font-size: 0;
    height: 1px;
    width: 1px;
    position: absolute;
    top: auto;
    left: -10000px;
    overflow: hidden;

    &:focus {
        position: static;
        height: auto;
        width: auto;
        font-size: 1rem;
    }

    &:active {
        position: static;
        height: auto;
        width: auto;
        font-size: 1rem;
    }
}

.row:not(.full-width), .col {
    max-width: 50ch;
    margin: 0 auto;
}

.row:not(.card-list) {
    padding: 1rem;
}
.row.title-and-summary, .row.full-width {
    padding: 0;
}
@media (min-width: var.$breakpoint) {
    .title {
        padding-left: .5rem;
    }
    .summary-container {
        display: flex;
    }
}