/* reset */
*:where(:not(iframe, canvas, img, svg, video, strong, em, abbr, summary, hr, q, blockquote, cite, code, pre, kbd, samp, var, del, ins, small, sub, sup, mark):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  line-height: calc(1em + 0.6rem);
}

html,
body {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

p:empty {
  display: none;
}

ul,
ol {
  padding-left: 1em;
}

table {
  border-collapse: collapse;
}

template {
  display: none !important;
}

textarea {
  white-space: revert;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

