@use './variables.scss' as var;

::selection:not(img, iframe) {
    background: var(--alert);
    color: var(--background);
}

*:focus {
    outline: .125em dashed var(--alert);
    // outline-offset: .25em;
}

@media (prefers-color-scheme: dark) {
    ::selection:not(img, iframe) {
        background: var(--warning);
    }

    *:focus {
        outline: .125em dashed var(--foreground--offset);
    }
}

html {
    font-family: 'Inter', Helvetica Neue, Helvetica, Futura, Trebuchet MS, Arial,
        sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-style-1,
.heading-style-2,
.heading-style-3,
.heading-style-4,
.heading-style-5,
.heading-style-6 {
    font-weight: bold;
    white-space: pre-line;
}

strong {
    font-weight: 900;
    color: var(--emphasis--text);
}

ul ul > li {
  list-style: circle;
}

ul ul ul > li {
  list-style: square;
}
ol > li {
  list-style: decimal;
}
ol ol > li {
  list-style: lower-alpha;
}

ol ol ol > li {
  list-style: lower-roman;
}

ul ul li,
ol ol li {
    font-size: .9em;
}

ul ul ul li,
ol ol ol li {
    font-size: .9em;
}

code {
    word-break: break-all;
    white-space: pre-line;
}

code[class*=language-],
pre[class*=language-] {
    word-break: break-all;
    white-space: pre-line;
}

@media (min-width: var.$breakpoint) {
    code {
        word-break: keep-all;
    }
}

dt {
    font-weight: bold;
}

dt:after {
    font-family: monospace;
    content: " →"
}

.title {
    line-height: 1.1;
    font-size: 2.5rem;
    text-align: center;
    order: 1;
    flex-basis: 100%;
    background-color: var(--emphasis);
    color: var(--background);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    @for $i from 1 through 3 {
        [data-difficulty="#{$i}"] & {
            background: nth(var.$learning-level-colours, $i);
            @if nth(var.$learning-level-colours, $i) == "var(--emphasis)" {
                color: var(--background);
            } @else {
                color: var(--foreground);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .title {
        color: var(--foreground);
    }
    @for $i from 1 through 3 {
        [data-difficulty="#{$i}"] .title {
            @if nth(var.$learning-level-colours, $i) == "var(--warning)" or nth(var.$learning-level-colours, $i) == "var(--alert)" {
                color: var(--background);
            } @else {
                color: var(--foreground);
            }
        }
    }
}

@media (min-width: var.$breakpoint) {
    .title {
        order: 0;
        flex-basis: auto;
        color: var(--foreground) !important;
        background-color: transparent !important;
        padding: 0;
        box-shadow: none;
        display: block;
        overflow: visible;
        max-width: calc(100% - 1.5rem - 48px - 224px);
        padding: .75rem;
        font-size: clamp(1rem, 2.5vw, 2.5rem);
        line-height: 1;
        .home & {
            height: auto;
        }
    }
}

article {
    font-size: 1.25rem;
    & h2 {
        margin-top: 4rem;
        margin-bottom: 2rem;
        padding-bottom: .5em;
        font-size: max(2.5rem, 3vw);
        border-bottom: 2px solid currentColor;
        line-height: 1.2;
    }
    & h3 {
        text-align: center;
        font-size: max(2rem, 2.5vw);
        border-bottom: 2px dashed currentColor;
        line-height: 1.2;
        margin-bottom: 1.75rem;
        margin-top: 2em;
        padding-bottom: .5em;
    }
    & h4 {
        font-size: max(1.5rem, 2.25vw);
        border-bottom: 2px dotted currentColor;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }
    & p {
        margin: 1rem 0;
    }
    & a {
        background: #54b9d26b;
    }
}