@use './variables.scss' as var;

.no-scroll {
    overflow-y: hidden;
}

.no-js .hide-without-js {
    display: none !important;
}

.show-for-sr {
    font-size: 0;
    height: 1px;
    width: 1px;
    position: absolute;
    top: auto;
    left: -10000px;
    overflow: hidden;

    &:focus {
        position: static;
        height: auto;
        width: auto;
        font-size: 1rem;
    }

    &:active {
        position: static;
        height: auto;
        width: auto;
        font-size: 1rem;
    }
}

.svg-fill {
    fill: var(--emphasis);
    stroke: var(--emphasis);

    &--inverted {
        fill: var(--background);
        stroke: var(--background);
    }

    &--no-stroke {
        fill: var(--emphasis);
        stroke: transparent;
    }
}

@media (prefers-color-scheme: dark) {
    .svg-fill {
        fill: var(--warning);
        stroke: var(--warning);

        &--inverted {
            fill: var(--background);
            stroke: var(--background);
        }
        &--no-stroke {
            fill: var(--warning);
            stroke: transparent;
        }
    }
    [data-annotate]:not([data-ann-type]) {
        color: var(--background);
    }
}

@media (min-width: var.$breakpoint) {
    .svg-fill {
        &--inverted {
            fill: var(--foreground);
            stroke: var(--foreground);
        }
    }
    [data-ann-mobile-only] + .rough-annotation {
        display: none;
    }
}

.progress {
  height: 3px;
  width: 0%;
  background-color: var(--emphasis);
  position: fixed;
  top: 0;
  left: 0;
  // animation: progress 1s linear;
    /* Pause the animation */
    animation-name: progress;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal;
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes progress {
  to {
    background-color: var(--null-1);
    width: 100%;
  }
}
