@use './variables.scss'as var;

.no-scroll {
    overflow-y: hidden;
}

.svg-fill {
    fill: var(--emphasis);
    stroke: var(--emphasis);

    &--inverted {
        fill: var(--background);
        stroke: var(--background);
    }

    &--no-stroke {
        fill: var(--emphasis);
        stroke: transparent;
    }
}

[data-ann-color="var(--emphasis)"]:not([data-ann-type]) {
    color: var.$background;
}

@media (prefers-color-scheme: dark) {
    .svg-fill {
        fill: var(--warning);
        stroke: var(--warning);

        &--inverted {
            fill: var(--background);
            stroke: var(--background);
        }

        &--no-stroke {
            fill: var(--warning);
            stroke: transparent;
        }
    }

    [data-annotate]:not([data-ann-type]):not([data-ann-color="var(--emphasis)"]) {
        color: var(--background);
    }
}



@media (min-width: var.$breakpoint) {
    .svg-fill {
        &--inverted {
            fill: var(--foreground);
            stroke: var(--foreground);
        }
    }

    [data-ann-mobile-only] + .rough-annotation {
        display: none;
    }
}

.progress {
    height: .5rem;
    width: 0%;
    background-color: var(--emphasis);
    position: fixed;
    top: 0;
    left: 0;
    transition: none 0s linear;
    animation-name: progress;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    z-index: 1;
}

@keyframes progress {
    to {
        background-color: var(--null-1);
        width: 100%;
    }
}

.body-icon {
    margin: 0 auto 1rem;
    width: 8rem;
    &--b-w {
        padding: 2rem;
        background: var(--null-2);
    }
    &--small {
        width: 2rem;
        margin-top: 4rem;
        & + h3 {
            margin-top: 0;
        }
    }
    &--x-large {
        width: 50%;
    }
    &--full-width {
        width: 100%;
    }
    &--alert-bg {
        background: var(--alert);
        padding: 1rem;
        border-radius: 2rem;
    }
}

.section-separator {
    margin-top: 8rem;
}


.demo-style-guide {
    background: var(--background--offset);
    font-size: min(1.5rem, 3.25vw);
    margin-bottom: 2rem;
    & th {
        padding: .5rem;
    }
    & td {
        padding: .5rem;
        border: 1px solid;
    }
    & div {
        height: 1rem;
    }
}

.related-post {
    background: var(--emphasis);
    color: var.$white;
    border-radius: 0.25rem;
    padding: 2rem 2rem 1rem;
    margin-top: 2rem;
    & strong {
        color: var.$white;
    }
    &__link {
        background: var(--alert);
        font-size: 1.5rem;
        border-radius: 0.5rem;
        text-align: center;
        text-decoration: none;
        padding: 1rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    &__icon {
        height: 1.5em;
        flex-basis: 1.5em;
        min-height: fit-content;
        margin: 0;
    }
}

.hide-for-mobile {
    display: none;
}

@media (min-width: var.$breakpoint) {
    .hide-for-mobile {
        display: inline;
    }
}

.callout {
    padding: 1em;
    background: var(--background--offset);
    border-radius: 0.25em;
    font-size: .9em;
    & p:last-child {
        margin-bottom: 0;
    }
    &.emphasis {
        background: var(--emphasis);
        color: var.$background;
    }
    &.warning {
        background: var(--warning);
        color: var.$foreground;
    }
    &.alert {
        background: var(--alert);
        color: var.$foreground;
    }
}

.flex {
    display: flex;
}

.btt {
    right: 0;
    bottom: 0;
    font-size: small;
    position: fixed;
    padding: 0 0.5rem;
    border-top-left-radius: 0.25rem;
    background: var(--emphasis);
    color: var.$background;
    z-index: 2;
    max-height: 1.5rem;
    height: calc(1vh * 75 * var(--scroll));
    box-shadow: 0 0 .125rem var.$foreground;
}

.margin-vertical-extra {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.centred {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article picture:hover {
    transition: transform 1s;
    transform: scale(1.25);
}