---json
{
    "layout": "layout.njk",
    "title": "About",
    "feature": {
        "src": "me.jpeg",
        "alt": "Simon Borer",
        "width": 786,
        "height": 735,
        "photo": true
    },
    "description": "Who I am (Simon, a developer and professor), and who I'm doing this for (everyone who wants to get better at the web, and who sees a need for more decency in how we, collectively, use this wonderful thing called the internet).",
    "type": "supplement",
    "eleventyExcludeFromCollections": true
}
---
<nav class="toc row">
    <div class="col">
        <h2>Table of contents</h2>
        <ol>
            <li><a href="#bonaFides">My bona fides</a></li>
            <li><a href="#why">Why I'm doing this</a></li>
            <li><a href="#who">Who is this for</a></li>
        </ol>
    </div>
</nav>
<section id="bonaFides" class="row">
    <div class="col">
    <h2>Bona Fides</h2>
    </div>
</section>
<section id="why" class="row">
    <div class="col">
    <h2>The 'Why'</h2>
    </div>
</section>
<section id="who" class="row">
    <div class="col">
    <h2>The 'Who'</h2>
    </div>
</section>