---json
{
    "layout": "layout.njk",
    "title": "About",
    "feature": {
        "src": "me.jpeg",
        "alt": "Simon Borer",
        "width": 786,
        "height": 735,
        "photo": true
    },
    "description": "Who I am (Simon, a developer and professor), and who I'm doing this for (everyone who wants the web to be better).",
    "type": "supplement",
    "eleventyExcludeFromCollections": true
}
---
<nav class="toc row full-width">
    <div class="col">
        <h2>Table of contents</h2>
        <ol>
            <li><a href="#bonaFides">My bona fides</a></li>
            <li><a href="#why">Why I'm doing this</a></li>
            <li><a href="#who">Who is this for</a></li>
        </ol>
    </div>
</nav>
<section id="bonaFides" class="row">
    <div class="col">
    <h2>Bona Fides</h2>
    <p>This part is the <em>least</em> exciting for me to write, but it's only fair you know who's giving you advice.</p>
    <p>My name is Simon Borer. I have been:</p>
<ul>
    <li><strong>on the internet since 1993</strong> (in the heyday of the Bulletin Board System),</li>
    <li><strong>writing code since 2004</strong> (professionally since 2011), and</li>
    <li><strong>teaching internet technologies at the post-graduate level since 2018</strong>.</li>
</ul>
     
    </div>
</section>
<section id="why" class="row">
    <div class="col">
    <h2>The 'Why'</h2>
    </div>
</section>
<section id="who" class="row">
    <div class="col">
    <h2>The 'Who'</h2>
    </div>
</section>