---json
{
    "layout": "layout.njk",
    "title": "The carbon footprint of the internet",
    "feature": {
        "src": "quilt.jpeg",
        "alt": "Quilt, Spiderweb pattern",
        "title": "Image credit: https://commons.wikimedia.org/wiki/File:Quilt,_Spiderweb_pattern_MET_DP142720.jpg"
    },
    "readingTime": true,
    "description": "Today we learn about the lifecycle of a web-based project. We'll look at all the possible stages of a project, whether big or small.",
    "tags": ["OWASP", "XSS", "SQL Injection", "Security", "Authentication"],
    "learningLevel": 1
}
---
<section id='the-web-s-carbon-footprint'><img class='body-icon' src='/images/ecology.svg'>
    <h2>The web's carbon footprint</h2>
    <p>A couple years ago, Mozilla reported that the internet was producing <strong>more carbon emissions than <a href="https://internethealthreport.org/2018/the-internet-uses-more-electricity-than/" target="_blank">the airline industry<span class="show-for-sr"> Opens in a new window</span></a></strong>.</p>
</section>
<section>
    <p>I'm personally of the opinion that any solution that begins with, "If everybody would just..." is no solution at all.</p>
    <p>That's why it's important to keep pressure on big companies to do things like <a href="https://www.bbc.com/news/technology-54141899" target="_blank">wiping out their carbon footprint<span class="show-for-sr"> Opens in a new window</span></a>, but I also think it's important to consider the impact you might have if you end up working for (or starting!) a larger company that serves billions of megabytes to millions of people.</p>
    <p>While it would be very cool if everyone's websites were <a href="https://solar.lowtechmagazine.com/power.html" target="_blank">solar powered<span class="show-for-sr"> Opens in a new window</span></a>, the simplest and most accessible way to reduce your website's carbon footprint is by making it smaller.</p>
</section>
<section>
    <img src="/images/scale.svg" alt="" class="body-icon body-icon--white-bg slide-only" style="width: 180px;padding:2rem;border-radius: 1rem;margin-bottom: 0;">
    <p>When I say "smaller", I don't mean a smaller font-size, or even less content, I mean in terms of "page weight" - <strong>smaller file sizes for your code and assets</strong>.</p>
</section>