---js
{
    "layout": process.env.LAYOUT,
    "title": "The carbon footprint of the internet",
    "feature": {
        "src": "robot-traffic.png",
        "alt": "Robot in traffic",
        "title": "Image credit: https://replicate.com/jack000/glid-3-xl"
    },
    "readingTime": true,
    "description": "How big is the internet's impact on the environment? Can you go carbon-neutral by working from home? What's worse, watching Netflix or buying Bitcoin? Can you run a website off of solar power?",
    "tags": ["Ethics", "Climate Change", "Bitcoin", "Ethereum", "Carbon Footprint", "Optimization", "Streaming"],
    "learningLevel": 1,
    "toc": [{
        "href": "yourJob",
        "title": "Personal responsibility and climate change"
    },{
        "href": "howMuch",
        "title": "Just how much carbon are we talking?"
    }, {
        "href": "contributors",
        "title": "The biggest factors in the internet's carbon emissions"
    }, {
        "href": "action",
        "title": "What can we do about it?"
    }, {
        "href": "solarPowered",
        "title": "A solar-powered website"
    }]
}
---
{% import "macros.njk" as macro with context %}
{% slide %}
    <p>Climate change is a <em>massive</em> topic, so I feel inclined to frame the conversation a bit. When talking about a globe- and epoch-spanning issue, there are things we can affect, and things we can't. Most conversations around climate change are specifically about this: <span data-annotate>what, if anything, can be done, and by whom?</span></p>
{% endslide %}
{% slide %}
    <blockquote>On the last day of the world<br>I would want to plant a tree<footer>- W.S. Merwin,&#32;"{% ext "https://merwinconservancy.org/2015/04/place-by-ws-merwin/"%}Place{% endext %}"</footer></blockquote>
    <p>We don't have time to conclusively answer these questions today, but I can tell you where I'm coming from.</p>
{% endslide %}
{% section toc[0].href %}
    {% slide %}
        {% image "images/climate-action.jpeg", "Indigenous climate activists", "(min-width: 30em) 600px, 100vw", "Fabrice Florin from Mill Valley, USA, CC BY-SA 2.0 <https://creativecommons.org/licenses/by-sa/2.0>, via Wikimedia Commons" %}
        <h2>{{ toc[0].title }}</h2>
    {% endslide %}
    {% slide %}
        <p>Have you been {% ext "https://en.wikipedia.org/wiki/Doomscrolling" %}doomscrolling{% endext %} for the last few years? You may have missed some important developments.</p>
    {% endslide %}
    {% slide %}
        <h3>You have more reason to be hopeful than you might think.</h3>
        <p>The first decade of the 20th century didn't bode well for our future, and a lot of very thoughtful people easily imagined a near future without people in it.</p>
        <p>Thanks to a lot of hard work from a lot of people all over the world, the future we're looking at now isn't apocalyptic. <span data-annotate>It's not exactly <em>awesome</em>, but it's <em>something</em>.</span></p>
    {% endslide %}
    {% slide %}
        <p>I won't go into all the reasons why, since that was so wonderfully covered in this video from the great folks at {% ext "https://www.youtube.com/user/Kurzgesagt" %}Kurzgesagt{%endext %}:</p>
        <lite-youtube videoid="LxgMdjyw8uw" style="background-image: url('https://i.ytimg.com/vi/LxgMdjyw8uw/hqdefault.jpg');" params="controls=0&modestbranding=2&rel=0&enablejsapi=1"></lite-youtube>
    {% endslide %}
    {% slide %}
        <p>Suffice it to say that if you've ever wanted to live in a time where your actions could potentially improve the lives of people for generations to come, now is the perfect time.</p>
    {% endslide %}
    {{ macro.furtherReading([{
        href: "https://www.nytimes.com/2022/03/22/climate/climate-change-ok-doomer.html",
        title: "‘OK Doomer’ and the Climate Advocates Who Say It’s Not Too Late",
        source: "The New York Times"
    }, {
        href: "https://www.penguinrandomhouse.com/books/647141/generation-dread-by-britt-wray/",
        title: "Generation Dread: Finding Purpose in an Age of <br class='hide-for-mobile'>Climate Crisis",
        source: "Britt Wray"
    }, {
        href: "https://michaelmann.net/books/climate-war",
        title: "The New Climate War: The Fight to Take Back Our Planet",
        source: "Michael Mann"
    }]) }}
    <hr>
    {% slide %}
        {% image "images/julep-straws.png", "Old-timey advertisement for paper julep straws", "(min-width: 30em) 600px, 100vw", "M.C. Stone (Life time: May 17, 1899), Public domain, via Wikimedia Commons" %}
        <p>...so are we all switching to paper straws, or...?</p>
        <h3>Lifestyle activism is pretty much a scam.</h3>
        <p>In case you weren't aware, the idea of the "Personal Carbon Footprint" is {% ext "https://mashable.com/feature/carbon-footprint-pr-campaign-sham" %}Big Oil propaganda{% endext %} meant to shift the blame off of super-polluting corporations and on to you and me.</p>
    {% endslide %}
    {% slide %}
        <p>Now <em>of course</em> there are things we can do in our own lives that will reduce the amount of carbon emitted by people - mostly {% ext "https://www.lunduniversity.lu.se/article/four-lifestyle-choices-most-reduce-your-carbon-footprint" %}avoiding flying, driving, and eating meat{% endext %}.</p>
    {% endslide %}
    {% slide %}
        <p>But the biggest impact we can have is to make systemic changes, using {% ext "https://en.wikipedia.org/wiki/Climate_movement#Activities" %}collective{% endext %}, {% ext "https://en.wikipedia.org/wiki/Carbon_tax" %}economic{% endext %}, {% ext "https://www.simonandschuster.com/books/On-Fire/Naomi-Klein/9781982129910" %}political{% endext %}, and {% ext "https://www.unep.org/news-and-stories/story/battle-against-climate-change-courts-become-new-frontier" %}legal{% endext %} actions.</p>
    {% endslide %}
    {% slide %}
        <p>So we can say that what we do matters, and that systemic changes have an exponentially bigger return on effort. Now <span data-annotate data-ann-color="var(--alert)">let's apply that to the web!</span></p>
        <p>Let's look at the <span data-annotate data-ann-type="underline">total carbon footprint</span> of the web, the <span data-annotate data-ann-type="underline">biggest contributors</span> to the web's carbon emissions, and then <span data-annotate data-ann-type="underline">how we can impact them.</span></p>
    {% endslide %}
{% endsection %}
{% separator "waves" %}
{% section toc[1].href %}
    {% slide %}
        <h2>{{ toc[1].title }}</h2>
        <p>I've actually found that this is a hard number to pin down. Here's what I can tell you:</p>
            {% endslide %}
    {% slide %}
        <p>In 2018, Mozilla reported that internet data centres alone produced <strong>roughly the same carbon emissions as {% ext "https://internethealthreport.org/2018/the-internet-uses-more-electricity-than/" %}the airline industry{% endext %}</strong> - about 2% of total emissions.</p>
        <p>This number doesn't factor in all the other devices that form the client end of the web - phones, laptops, personal computers, TVs, watches, {% ext "https://www.pcmag.com/reviews/brita-infinity-wi-fi-connected-pitcher" %}water pitchers{% endext %}, {% ext "https://www.lavviebot.com/en/home.html" %}litterboxes{% endext %}, {% ext "https://www.allure.com/story/kerastase-hair-coach" %}hairbrushes{% endext %}, et al.</p>
            {% endslide %}
    {% slide %}
        <p>At the beginning of 2019, French green energy think tank The Shift Project estimated the total share of global emissions created by the internet to be {% ext "https://theshiftproject.org/wp-content/uploads/2019/03/Lean-ICT-Report_The-Shift-Project_2019.pdf" %}3.7%{% endext %} of the {% ext "https://www.iea.org/data-and-statistics/charts/co2-emissions-from-energy-combustion-and-industrial-processes-1900-2021" %}36.1 billion metric tons{% endext %} emitted globally, but that number still doesn't capture the seismic changes in the world over the past three years.</p>
            {% endslide %}
    {% slide %}
        <p>Carbon emissions dipped in 2020, only to rebound in 2021, while work-from-home, streaming and {% ext "https://en.wikipedia.org/wiki/Web3" %}web3{%endext%} technologies only increased the internet's energy consumption. But by how much?</p>
        <p>To answer those questions, let's look at some of the big movers in bandwidth over the past two years.</p>
    {% endslide %}
{% endsection %}
{% separator "dots" %}
{% section toc[2].href %}
    {% slide %}
        <h2>{{ toc[2].title }}</h2>
        <h3>Streaming video</h3>
        <p>Actually some good news here: I had assumed that streaming media would be really gnarly for the environment, having read some scary articles a few years back. Turns out, {% ext "https://www.iea.org/commentaries/the-carbon-footprint-of-streaming-video-fact-checking-the-headlines#:~:text=Calculate%20your%20emissions" %}watching one hour of Netflix on a big TV in 4K{% endext %} has the same carbon footprint as boiling a kettle twice. Not too bad! And those numbers can be improved drastically by using a smaller device, and streaming in lower quality.</p>
        <p>In part, this is thanks to the {% ext "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3226029" %}impressive efficiency gains in data centres{% endext %} that have been happening for the last decade.</p>
    {% endslide %}
    {% slide %}
        <h3>Remote work</h3>
        <p>Remote work is still, as of this writing, the subject of a lot of unsettled questions.</p>
        <p>In America, the vast majority of people who worked remotely due to COVID-19 are {% ext "https://www.nbcnews.com/data-graphics/data-remote-workers-declining-may-2022-rcna28499#20220512-work-remote" %}back in the workplace{% endext %}. In Canada, "only one half (50%) of Canadians currently working from home envision themselves returning to the office with any regularity in 2022", according to {% ext "https://www.ipsos.com/en-ca/news-polls/only-half-of-Canadians-say-they-expect-to-return-to-office#:~:text=Toronto%2C%20ON%2C%20December%2026%2C,Ipsos%20poll%20conducted%20on%20behalf" %}an Ipsos poll{% endext %}.</p>
        <p>So what does that mean for carbon emissions? While the future of remote work is uncertain, we can definitely say the that working from home is {% ext "https://iopscience.iop.org/article/10.1088/1748-9326/ab8a84" %}kinda good, maybe, sometimes, for the most part{% endext %}. Turns out that, while reducing commutes is a good thing, </p>
        - blockchain
            - crypto
                https://digiconomist.net/bitcoin-energy-consumption
            - nfts
                https://www.wired.com/story/nfts-hot-effect-earth-climate/
                https://www.theverge.com/2021/3/15/22328203/nft-cryptoart-ethereum-blockchain-climate-change
    {% endslide %}
{% endsection %}
{% separator "chevrons" %}
{% section toc[3].href %}
    {% slide %}
        <h2>{{ toc[3].title }}</h2>
                {% ext "https://www.websitecarbon.com/" %}Carbon calculator{% endext %}
        <div id="wcb" class="carbonbadge wcb-d"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        {% ext "https://davidsuzuki.org/science-learning-centre-article/purchasing-carbon-offsets-a-guide-for-canadian-consumers-businesses-and-organizations/" %}Purchase carbon offsets{% endext %}
        {% ext "https://en.wikipedia.org/wiki/Individual_action_on_climate_change" %}Individual action on climate change{% endext %}
    {% endslide %}
{% endsection %}
{% separator "waves" %}
{% section toc[4].href %}
    {% slide %}
        <h2>{{ toc[4].title }}</h2>

        {% ext "https://solar.lowtechmagazine.com/about.html" %}solar.lowtechmagazine.com{% endext %}
    {% endslide %}
{% endsection %}
{# <section id='the-web-s-carbon-footprint'>
    <img class='body-icon' src='/images/ecology.svg'>
    <h2>The web's carbon footprint</h2>
    <p>Four years ago, Mozilla reported that the internet was producing <strong>more carbon emissions than <a href="https://internethealthreport.org/2018/the-internet-uses-more-electricity-than/" target="_blank">the airline industry<span class="show-for-sr"> Opens in a new window</span></a></strong>.</p>
</section>
<section>
    <p>I'm personally of the opinion that any solution that begins with, "If everybody would just..." is no solution at all.</p>
    <p>That's why it's important to keep pressure on big companies to do things like <a href="https://www.bbc.com/news/technology-54141899" target="_blank">wiping out their carbon footprint<span class="show-for-sr"> Opens in a new window</span></a>, but I also think it's important to consider the impact you might have if you end up working for (or starting!) a larger company that serves billions of megabytes to millions of people.</p>
    <p>While it would be very cool if everyone's websites were <a href="https://solar.lowtechmagazine.com/power.html" target="_blank">solar powered<span class="show-for-sr"> Opens in a new window</span></a>, the simplest and most accessible way to reduce your website's carbon footprint is by making it smaller.</p>
</section>
<section>
    <img src="/images/scale.svg" alt="" class="body-icon body-icon--white-bg slide-only" style="width: 180px;padding:2rem;border-radius: 1rem;margin-bottom: 0;">
    <p>When I say "smaller", I don't mean a smaller font-size, or even less content, I mean in terms of "page weight" - <strong>smaller file sizes for your code and assets</strong>.</p>
</section> #}