---js
{
    "layout": process.env.LAYOUT,
    "title": "Web Design No-Brainers",
    "feature": {
        "src": "dunce.jpeg",
        "alt": "Man wearing dunce cap",
        "title": "Image credit: https://commons.wikimedia.org/wiki/File:Dunce_hat.webp"
    },
    "readingTime": true,
    "description": "How do you design for the web in the most basic, user-friendly way possible? Don't reinvent the wheel - follow these basic tips (backed by science!) and follow design conventions so you can focus on the things that matter.",
    "tags": ["Design", "conventions"],
    "learningLevel": 2,
    "toc": [
        {
            href: "design-conventions",
            title: "Design Conventions"
        },
        {
            href: "no-brainers",
            title: "Web Design No-Brainers"
        }
    ]
}
---

{% import "macros.njk" as macro with context %}

{% section toc[0].href %}
    {% slide %}
        <h2>{{ toc[0].title }}</h2>
        <p>Sometimes the person tasked with the web design phase finds themselves without a proper style guide, appropriate existing layouts, or explicit layout requirements.</p>
        <p>Non-traditional, experimental design can be wonderful, exciting, and rewarding. However, you also have to contend with deadlines, client expectations, and users who just want to find out what time the library closes, goshdarnit.</p>
        <p>It's at this point that a web designer asks - <strong>what is the normal thing to do?</strong></p>
    {% endslide %}
    {% slide %}
        <p>As a rule, users are best served by designs and layouts that are <strong>intuitive</strong> - meaning that they can easily recognize interactive elements, and where to find the information they're looking for.</p>
    {% endslide %}
    {% slide %}
        <p>Most of these conventions are not just tried-and-true, they're based on a simple principle: <strong>people scan site content in a particular order</strong>.</p>
        <figure>
            <img src="/images/norm-niel-f.jpg" alt="">
            <figcaption>Eyetracking studies pioneered by the Norman Nielsen Group</figcaption>
        </figure>
    {% endslide %}
    {% slide %}
        <p>People will scan your website starting in the corner where they would start reading a page of text. They continue scanning from the initial side, going less and less far across the page the further down they go. This is know as the '<strong>F-Pattern</strong>'.</p>
        <p class="callout warning">Remember that <strong>not all people read from left to right</strong>! Readers of Arabic, Hebrew, Pashto, Persian, Urdu, and Sindhi read horizontally right to left, and readers of Chinese, Japanese and Korean scripts read vertically from right to left. <strong>Know your audience.</strong></p>
    {% endslide %}
{% endsection %}
{% separator "waves" %}
{% section toc[1].href %}
    {% slide %}
        <h2>{{ toc[1].title }}</h2>
    {% endslide %}
    {% slide %}
        <ol>
            <li><strong>Put the logo in the top left</strong>, and make it a link to the home page.</li>
        </ol>
        <figure>
            <img src="/images/cl.png" alt="">
            <figcaption>Craigslist, brutalists that they are, do nothing unnecessarily.</figcaption>
        </figure>
    {% endslide %}
    {% slide %}
        <ol start="2">
            <li><strong>Put the navigation prominently in the header</strong>.</li>
            <li><strong>Put important actions in the top right</strong>.</li>
        </ol>
        <figure>
            <a href="/images/ms.png" target="_blank"><img src="/images/ms.png" alt=""></a>
            <figcaption>Microsoft, not always guilty of great user interfaces, plays it safe on their home&nbsp;page.</figcaption>
        </figure>
    {% endslide %}
    {% slide %}
        <ol start="4">
            <li><strong>Stick to the grid</strong>. Using a grid to guide your content placement creates a consistent, predictable experience.</li>
        </ol>
        <figure>
            <a href="/images/grid.png" target="_blank"><img src="/images/grid.png" alt=""></a>
            <figcaption><a href="https://uxdesign.cc/" rel="noreferrer" target="_blank">uxdesign.cc<span class="show-for-sr"> Opens in a new window</span></a> grid demo</figcaption>
        </figure>
    {% endslide %}
    {% slide %}
        <ol start="5">
            <li>
                <p><strong>Prioritize content in highly read areas</strong>. One guide for this could be the F-pattern we discussed earlier. Another high-priority pattern is choosing what content should be "above the fold".</p>
                <p>This is a term that dates back to newprint - top headlines were kept in the top half of the page, above where the newspaper would be folded in half horizontally. In the early days of the web, people <em>did not scroll</em> web pages. Like, at all, basically.</p>
            </li>
        </ol>
    {% endslide %}
    {% slide %}
        <p>This has changed somewhat.</p>
        <blockquote class="slide-only" style="display: block;">In 2010, 80% of the viewing time was spent above the fold. Today, that number is only 57%.<footer><cite><a href="https://www.nngroup.com/articles/scrolling-and-attention/" target="_blank">Norman Nielsen<span class="show-for-sr"> Opens in a new window</span></a>.</cite></footer></blockquote>
        <p>Add to that the fact that responsive design means there is no exact spot where the "fold" will be for users. Nonetheless, it's a good rule to follow that the higher up the content is, the better the chance users will actually see it.</p>
    {% endslide %}
    {% slide %}
<figure>
<a href="/images/atf.png" target="_blank"><img src="/images/atf.png" alt=""></a>
<figcaption><a href="https://css-tricks.com/" rel="noreferrer" target="_blank">CSS Tricks<span class="show-for-sr"> Opens in a new window</span></a> looks at where the fold <em>might</em> be.</figcaption>
</figure>
{% endslide %}
    {% slide %}
    <ol start="6">
<li><strong>Boring stuff goes in the footer</strong>. Sitemaps, contact forms, social media links, copyright - all the stuff the client requires but no user would ever actually need.</li>
</ol>
<figure>
<img src="/images/css-tricks-footer.png" alt="" style="max-height: 40vh">
<figcaption><a href="https://css-tricks.com/" rel="noreferrer" target="_blank">CSS Tricks<span class="show-for-sr"> Opens in a new window</span></a>: stuff that's even less important than the comments.</figcaption>
</figure>
{% endslide %}
    {% slide %}
<p>Those are the big ones! Web design truisms that you can hang your hat on. Of course, there are all kinds of smaller conventions that we can take for granted (☰&nbsp;hamburger menu, anyone?), but these 6 standard approaches to page design are enough to get you started.</p>
{% endslide %}
{{ macro.furtherReading([{
    href: "https://www.interaction-design.org/literature/article/visual-hierarchy-organizing-content-to-follow-natural-eye-movement-patterns",
    title: "Visual Hierarchy: Organizing content to follow natural eye movement patterns",
    source: "Interaction Design Foundation"
},{
    href: "https://www.nngroup.com/articles/f-shaped-pattern-reading-web-content/",
    title: "F-Shaped Pattern of Reading on the Web: Misunderstood, But Still Relevant (Even on Mobile)",
    source: "Norman Nielsen Group"
},{
    href: "https://www.smashingmagazine.com/2017/12/building-better-ui-designs-layout-grids/",
    title: "Building Better UI Designs With Layout Grids",
    source: "Smashing Magazine"
},{
    href: "https://www.nngroup.com/articles/scrolling-and-attention/",
    title: "Scrolling and Attention",
    source: "Norman Nielsen Group"
},{
    href: "https://css-tricks.com/responsive-web-above-the-fold/",
    title: "Responsive Web Above The Fold",
    source: "CSS Tricks"
}]) }}
{% endsection %}