---js
{
    "layout": process.env.LAYOUT,
    "title": "Rough Guide: How To Get a Web Work",
    "feature": {
        "src": "Donald_Betsy_Gillies_Illiac_I.jpeg",
        "alt": "Alice (Betsy) E. D. Gillies and Donald B. Gillies with the ILLIAC I at the Digital Computer Lab, Urbana Illinois, circa 1957.",
        "width": 2024,
        "height": 1400,
        "title": "Photo credit: https://commons.wikimedia.org/wiki/File:Donald_Betsy_Gillies_Illiac_I.jpg"
    },
    "pinned": true,
    "readingTime": true,
    "tldr": true,
    "btt": true,
    "description": "How to choose a career path on the web in 2022, and getting a job out of it!",
    "tags": ["employment", "career"],
    "tag": "💼 Decent workplace 💼",
    "learningLevel": 2,
    "toc": [
        {
            "href": "skills",
            "title": "Choosing & Building a Skillset"
        },
        {
            "href": "self-teaching",
            "title": "Self-Teaching"
        },
        {
            "href": "bootcamps",
            "title": "To Bootcamp or not to Bootcamp?"
        },
        {
            "href": "college",
            "title": "Traditional Institutions"
        },
        {
            "href": "other-credentials",
            "title": "Other Credentials"
        },
        {
            "href": "job",
            "title": "Getting Hired"
        },
        {
            "href": "technical-interviews",
            "title": "Technical Interviews"
        },
        {
            "href": "connections",
            "title": "Making Connections"
        },
        {
            "href": "portfolios",
            "title": "What's Your Portfolio Worth?"
        },
        {
            "href": "freelance-contract-full-time",
            "title": "Freelancing, <br>Contracting, and Full-time Positions"
        },
        {
            "href": "soft-skills",
            "title": "The Worst-Kept Secret: Soft Skills"
        }
    ]
}
---
{# 
    Further reading
    - https://redmonk.com/kholterhoff/2022/04/21/how-the-covid-19-pandemic-changed-developer-certifications/
    - https://www.accessibilityassociation.org/s/wascertification
#}
{% import "macros.njk" as macro with context %}
{% slide %}
    {# brief intro #}
{% endslide %}
{% section toc[0].href %}
    {% slide %}
        <img src="/images/building-skills.svg" alt="Building skills" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[0].title | allGas | safe }}</h2>
        {# dev roadmap #}
        {# https://roadmap.sh/roadmaps #}
        {# https://flaviocopes.com/roadmap-web-developer-2022/ #}
    {% endslide %}
{% endsection %}
{% separator "waves" %}
{% section toc[1].href %}
    {% slide %}
        <img src="/images/school.svg" alt="Learning by yourself" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[1].title | allGas | safe }}</h2>
        {# https://www.theodinproject.com/ #}
        {# https://developer.mozilla.org/en-US/docs/Learn #}
        {# https://www.freecodecamp.org/ #}
        {# https://www.codecademy.com/ #}
        {# https://automatetheboringstuff.com/ #}
        {# https://collegecompendium.org/ #}
        {# https://pll.harvard.edu/course/cs50-introduction-computer-science?delta=0 #}
        {# https://ocw.mit.edu/courses/res-6-013-ai-101-fall-2021/ #}
        {# https://see.stanford.edu/Course/CS106A #}
        {# https://cybersecuritybase.mooc.fi/ #}
        {# This is down: https://teach.mozilla.org/web-literacy/ #}
    {% endslide %}
{% endsection %}
{% separator "dots" %}
{% section toc[2].href %}
    {% slide %}
        <img src="/images/camp.svg" alt="Camping" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[2].title | allGas | safe }}</h2>
        {# https://old.reddit.com/r/codingbootcamp/comments/su88n1/are_coding_bootcamps_still_worth_it_in_2022/ #}
    {% endslide %}
{% endsection %}
{% separator "chevrons" %}
{% section toc[3].href %}
    {% slide %}
        <img src="/images/graduation.svg" alt="Graduation" height="306" width="406" class="body-icon body-icon--x-large body-icon--alert-bg">
        <h2>{{ toc[3].title }}</h2>
    {% endslide %}
{% endsection %}
{% separator "waves" %}
{% section toc[4].href %}
    {% slide %}
        <img src="/images/checklist.svg" alt="Checking boxes" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[4].title | allGas | safe }}</h2>
        {# https://grow.google/certificates/ #}
        {# https://news.ycombinator.com/item?id=27579431 #}
        {# https://news.ycombinator.com/item?id=27494450 #}
    {% endslide %}
{% endsection %}
{% separator "dots" %}
{% section toc[5].href %}
    {% slide %}
        <img src="/images/interview.svg" alt="Job interview" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[5].title | allGas | safe }}</h2>
    {% endslide %}
{% endsection %}
{% separator "chevrons" %}
{% section toc[6].href %}
    {% slide %}
        <img src="/images/tech-interview.svg" alt="A technical interview" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[6].title | allGas | safe }}</h2>
    {% endslide %}
{% endsection %}
{% separator "chevrons" %}
{% section toc[7].href %}
    {% slide %}
        <img src="/images/party.svg" alt="Party" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[7].title | allGas | safe }}</h2>
    {% endslide %}
{% endsection %}
{% separator "waves" %}
{% section toc[8].href %}
    {% slide %}
        <img src="/images/finance.svg" alt="Finance app" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[8].title | allGas | safe }}</h2>
    {% endslide %}
{% endsection %}
{% separator "dots" %}
{% section toc[9].href %}
    {% slide %}
        <img src="/images/office-chair.svg" alt="Ascending to an office chair" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[9].title | allGas | safe }}</h2>
    {% endslide %}
{% endsection %}
{% separator "chevrons" %}
{% section toc[10].href %}
    {% slide %}
        <img src="/images/scrum.svg" alt="Informal meeting" height="306" width="406" class="body-icon body-icon--x-large">
        <h2>{{ toc[10].title | allGas | safe }}</h2>
        {# I wouldn't go so far as to call a dog filthy, but it's definitely dirty. But, dogs got personality, personality goes a long way. - Jules Winnfield #}
        {# Remote soft skills? #}
        {# Over promise and underdeliver #}
        {# Imposter syndrome and "I don't know about that, tell me more" #}
        {# Relax and be interested #}
        {# https://news.ycombinator.com/item?id=9987495 #}
        {# https://medium.com/@nina.semczuk/5-takeaways-from-the-charisma-myth-by-olivia-fox-cabane-2145d1c65c05 #}
        {# https://ecorner.stanford.edu/videos/build-your-personal-charisma-entire-talk/ #}
        {# https://www.mishaglouberman.com/negotiation #}
        {# Cultural context / when is laughter appropriate #}
    {% endslide %}
{% endsection %}
<section class="tldr" id="tldr">
    <div class="row">
    <h2>{{"Too long, didn't read" | allGas | safe}}</h2>
    <ul>
        <li></li>
    </ul>
    </div>
</section>