---
layout: layout.njk
title: How this site is made.
description: I'm making a website about making the web, so I think it's only fair we talk about how I build this website!
eleventyExcludeFromCollections: true
type: supplement
---
