@use './variables.scss'as var;

.row > .col {
    margin: 0 auto;
    max-width: calc(60ch + 10vw);
}

section>*,
header>* {
    padding-left: 5vw;
    padding-right: 5vw;
}
@media (min-width: var.$breakpoint) {
    

section > h3 {
	padding-left: 8vw;
}
section > h4 {
	padding-left: 11vw;
}
section > h5 {
	padding-left: 14vw;
}
section > h6 {
	padding-left: 17vw;
}
}
.row:not(header) {
    padding-top: 1em;
    padding-bottom: 8vh;
}
.row {
 //    position: relative;
 //    &:before {
 //        content: " ";
 //        position: absolute;
 //        width: 100%;
 //        height: clamp(4em, 10vw, 10em); 
 //        top: clamp(-2em, -5vw, -5em);
 //        z-index: -1;
 //    }
	// &:nth-of-type(even) {
 //    	background: var(--row-colour-offset);
 //        &:before {
 //            background: linear-gradient(var(--bg),var(--row-colour-offset));
 //        }
 //    }
 //    &:nth-of-type(odd):not(header):not(:nth-of-type(1)) {
 //        &:before {
 //            background: linear-gradient(var(--row-colour-offset), var(--bg));
 //        }
 //    }
}

@media (min-width: var.$breakpoint) {
    header>h1 {
        padding-left: 0;
        padding-right: 0;
    }
}

.title {
    margin: 2em 0 1em 0;
    background-color: var.$pink;
    color: var(--bg);
    padding-top: .25em;
    padding-bottom: .75em;
    line-height: .8em;
}

@media (prefers-color-scheme: dark) {
    .title {
        background-color: var.$coral-50
    }
}
.summary {
    padding: 2px;
}
@media (prefers-color-scheme: light) {
.summary {
    background: var.$green;
    color: var(--bg);
}
}
@media (prefers-color-scheme: dark) {
    .summary {
        background: var.$green;
    }
}

.toc {
    margin-bottom: 5rem;

    & .headline {
        font-size: 1rem * var.$goldenRatio;
        border-bottom: .125em solid var(--text);
        border-top: 0 solid transparent;
        margin-bottom: 1em;
        margin-top: clamp(1rem * var.$goldenRatio, 2vh * var.$goldenRatio, 1em * var.$goldenRatio);
    }
}

@media (min-width: var.$breakpoint) {
    .title {
        padding: 0;
        margin: -0.025em 0 .75em 0;
        line-height: 0.6em;
        overflow: hidden;
        text-align: right;

        // @media (prefers-color-scheme: dark) {
        //     // outline: 20px dotted rgba(255, 244, 100, .1);
        //     // outline-offset: -1em;

        // }

        .home & {
            margin: 0 0 1em 0;
            line-height: 1.6em;
            padding-right: .125em;
        }

    }

    header>nav {
        padding-bottom: .5em;
    }
}

@media (min-width: var.$breakpoint) {
    img {
        max-width: 100%;
        margin: 2rem 0;
    }
}

.further-reading {
	position: relative;
    z-index: 0;
    background: var.$gold-30 !important;
	&:before {
        position: absolute;
        border-left: clamp(.5em, 2vw, 4em) solid var.$blue-40;
        height: 100%;
        top: 0;
        background: transparent !important;
    }
	& h4 {
		margin-top: 0;
		margin-bottom: .5em;
	}
    & .col {
        padding-left: 10vw;
    }
}

@media (min-width: var.$breakpoint) {
    .further-reading .col {
        padding-left: 5vw;
    }
}

@media (prefers-color-scheme: dark) {
    .further-reading {
        background: var.$gold-90 !important;
        // box-shadow: 
        //     0 0 12px 6px rgb(255 255 0 / 7.5%), 
        //     0 -8px 12px 6px rgb(255 0 255 / 7.5%), 
        //     0 8px 12px 6px rgb(0 255 255 / 7.5%), 
        //     0 0 18px 6px inset rgb(255 255 0 / 2.5%), 
        //     0 -8px 18px 3px rgb(255 0 255 / 5%) inset, 
        //     0 8px 18px 3px rgb(0 255 255 / 5%) inset;
        // transition: box-shadow ease .5s;
        // &:hover {
        //     box-shadow: 
        //         0 8px 12px 6px rgb(255 255 0 / 7.5%), 
        //         0 0 12px 6px rgb(255 0 255 / 7.5%), 
        //         0 -8px 12px 6px rgb(0 255 255 / 7.5%), 
        //         0 0 12px 6px inset rgb(255 255 0 / 2.5%), 
        //         0 8px 18px 3px rgb(255 0 255 / 5%) inset, 
        //         0 -8px 18px 3px rgb(0 255 255 / 5%) inset;
        // }
    }
}

.body-icon {
    margin: 0 auto 2em;
    width: clamp(50%, 50%, 80vw);
}