{% macro sectionCard(hats, tools, deliverables) %}
<div class="section-card">
    {% if hats %}
    <strong>Hats/Disciplines:</strong>
    <ul>
    {% for hat in hats %}
      <li>{{ hat | safe }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if tools %}
    <strong>Tools/Techniques:</strong>
    <ul>
    {% for tool in tools %}
      <li>{{ tool | safe }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if deliverables %}
    <strong>Deliverables:</strong>
    <ul>
    {% for deliverable in deliverables %}
      <li>{{ deliverable | safe }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}

{% macro furtherReading(links, title='<strong>Further Reading:</strong>') %}
{% if (hr !== 'false') %}
<hr>
{% endif %}
<div class="row">
{{title | safe}}
<ul>
  {% for link in links %}
    <li>{% ext link.href %}{{ link.title | safe }}{% endext %}{% if link.source %}, <em>{{ link.source | safe }}</em>{% endif %}</li>
  {% endfor %}
</ul>
</div>
{% endmacro %}