h1::selection {
  color: var(--text);
  background: var(--bg);
}

html {
    color: var(--text);
    background: var(--bg);
}

footer {
    padding-top: 20vh;
}



h1 {
    font-size: clamp(1rem * var.$goldenRatio * 2, 1vw * var.$goldenRatio * 8, 1em * var.$goldenRatio * 6);
}

h2 {
    font-size: clamp(1rem * var.$goldenRatio * 1.25, 1vw * var.$goldenRatio * 4, 1em * var.$goldenRatio * 3);
    margin-top: clamp(1rem * var.$goldenRatio * 1.25, 4vh * var.$goldenRatio * 4, 1em * var.$goldenRatio * 3);
    padding-top: clamp(1rem * var.$goldenRatio * 1.25, 1vh * var.$goldenRatio * 4, 1em * var.$goldenRatio * 3);
    border-top: .75em solid var.$green;
}

h3 {
    margin-top: clamp(1rem * var.$goldenRatio, 4vh * var.$goldenRatio * 3, 1em * var.$goldenRatio * 2);
    padding-top: clamp(1rem * var.$goldenRatio, 1vh * var.$goldenRatio * 3, 1em * var.$goldenRatio * 2);
    font-size: clamp(1rem * var.$goldenRatio, 1vw * var.$goldenRatio * 3, 1em * var.$goldenRatio * 2);
    border-top: .25em dotted var.$coral;
}

@media (min-width: var.$breakpoint) {
    h3 {
        border-top-width: .125em;
    }
}

@media (prefers-color-scheme: light) {
    h2 {
        border-color: var.$blue-20;
    }
}

h4 {
    margin-top: clamp(1rem * var.$goldenRatio, 3vh * var.$goldenRatio * 2, 1em * var.$goldenRatio * 2);
    padding-top: clamp(1rem * var.$goldenRatio, 1vh * var.$goldenRatio * 2, 1em * var.$goldenRatio);
    font-size: clamp(.9rem * var.$goldenRatio, .95vw * var.$goldenRatio * 2, .95em * var.$goldenRatio);
    line-height: 1.1em;
}
@media (min-width: var.$breakpoint) { 
    h4 {
        line-height: calc(1em + 0.6rem);
    }
}
h5 {
    margin-top: clamp(1rem * var.$goldenRatio, 2vh * var.$goldenRatio, 1em * var.$goldenRatio * 2);
    padding-top: clamp(1rem * var.$goldenRatio, 1vh * var.$goldenRatio, 1em * var.$goldenRatio * .9);
    font-size: clamp(.85rem * var.$goldenRatio, .9vw * var.$goldenRatio * 1.5, .9em * var.$goldenRatio);
}
h6 {
    margin-top: clamp(1rem * var.$goldenRatio, 1vh * var.$goldenRatio, 1em * var.$goldenRatio * 2);
    padding-top: clamp(1rem * var.$goldenRatio, 1vh * var.$goldenRatio * .75, 1em * var.$goldenRatio * .8);
    font-size: clamp(.8rem * var.$goldenRatio, .8vw * var.$goldenRatio, .8em * var.$goldenRatio);
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
}

h4 {
    font-style: italic;
}

p {
    margin: 1em 0;
}




strong {
    color: var(--text-strong);
}

a[target="_blank"][rel="noopener noreferrer"] {
    background-color: var.$coral-85;
    border-radius: .25em;
    padding: 4px;
}
@media (prefers-color-scheme: light) {
a[target="_blank"][rel="noopener noreferrer"] {
    background-color: var.$coral-20;
}
}