@use '../variables.scss' as var;

.summary {
	max-width: 60ch;
	background: var.$white;
	&__reading-time {
		border-top: 1px solid var(--foreground);
		margin: .5rem 1rem 0;
		text-align: right;
	}
	&__date {
		border-top: 1px solid var(--foreground);
		margin: .5rem 1rem 3rem;
		text-align: right;
	}
	&-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background: var.$white;
		& lite-youtube {
			max-width: 100vw;
			width: 24rem;
			margin: auto 0;
		}
	}
	&__text {
		font-size: 1.25rem;
		font-style: italic;
		line-height: 1.9;
		padding-top: .25rem;
		&-container {
			margin: 1rem;
		}
	}
	&__image {
        &-container {
        	background: var.$white;
        	display: flex;
        	background-size: cover;
        	background-position: center;
        	& picture {
				margin: 0;
		        min-width: max(20vw, 12rem);
		        backdrop-filter: blur(.75rem) saturate(.25);
		        display: flex;
		        justify-content: center;
		        & img {
			        object-fit: contain;
			        margin-top: 0;
		        }
        	}

            [data-difficulty="1"] & {
                background: var(--emphasis);
            }

            [data-difficulty="2"] & {
                background: var(--warning);
            }

            [data-difficulty="3"] & {
                background: var(--alert);
            }
        }
	}
}

@media (prefers-color-scheme: dark) {
	.summary {
		&-container {
			background: var(--background--offset);
		}
		background: var(--background--offset);
	}
}

@media (min-width: var.$breakpoint) {
	.summary {
		max-width: min(calc(100vw - 12rem), 60ch);
		border-top: .125rem solid var(--background--offset);
		border-left: .125rem solid var(--background--offset);
		border-bottom: .125rem solid var(--background--offset);
		position: relative;
		&:after {
			content: " ";
			position: absolute;
			border-left: 2px dashed var(--background--offset);
		    height: 5vh;
		    right: 0;
		}
		&-container {
			margin-top: 6rem;
			margin-bottom: 8rem;
			background: transparent;
			&:before {
				content: " ";
				position: absolute;
				width: 10vw;
				border-top: 2px dashed var(--background--offset);
				left: 0;
			}
			&:after {
				content: " ";
			    position: absolute;
			    width: 10vw;
			    border-top: 2px dashed var(--background--offset);
			    right: 0;
			}
		}
		&__date {
			margin-bottom: 0;
		}
		&__image {
			border-right: .125rem solid var(--background--offset);
			border-bottom: .125rem solid var(--background--offset);
			border-top: .125rem solid var(--background--offset);
			padding-right: 1rem;
			padding-left: 1rem;
			&-container {
				position: relative;
				&:before {
					--size: 2.5vw;
					content: " ";
				    height: var(--size);
				    width: var(--size);
				    position: absolute;
				    border-right: 2px dashed var(--background--offset);
				    border-bottom: 2px dashed var(--background--offset);
				    left: calc(-1 * var(--size));
				    top: calc(-1 * var(--size));
				}

				& picture {
					padding: 1rem;
				}
			}
		}
	}
}

.toc {
	margin: 1rem 1rem 4rem;
	padding-top: 3rem;
	text-align: center;
	border-top: .25rem dashed;
	font-size: 1.25rem;
	& h2 {
		font-size: 1.5em;
		margin-bottom: 1rem;
	}
	&__svg {
		height: 4rem;
		background: var(--background);
	}
	& ol {
		padding-left: 0;
	}
	& li {
		list-style-position: inside;
	}
	& a {
		text-decoration: none;
	    border-bottom: 2px solid var(--emphasis);
	    padding-bottom: 0.125rem;
	    display: inline-block;
	    margin-bottom: 0.5rem;
	    transition: all .25s;
	    &:hover {
	    	border-bottom-style: dotted;
	    	border-color: var(--foreground);
	    }
	    &:focus {
	    	border-bottom-style: dotted;
	    	border-color: var(--foreground);
		    outline: 0.0625rem dotted var(--foreground--offset);
		    outline-offset: 0.25rem;
	    }
	}
}

@media (min-width: var.$breakpoint) {
	.toc {
		margin: 2rem 1rem;
		padding-top: 0;
		border-top: 0 solid transparent;
		&__svg {
			margin-top: 6rem;
		}
	}
}

.section-card {
	display: flex;
	flex-direction: column;
	& strong {
		margin-top: 1rem;
	}
	& ul {
		list-style-position: inside;
		padding-left: 0;
		margin: .5rem 0;
		& ul {
			padding-left: 2rem;
			& li {
				list-style-type: circle;
			}
		}
	}
}