@use '../variables.scss' as var;

.summary {
	max-width: 60ch;
	background: var.$white;
	padding-top: 3rem;
	&__reading-time {
		border-top: 1px solid var(--foreground);
		margin: .5rem 1rem 0;
		text-align: right;
	}
	&__date {
		border-top: 1px solid var(--foreground);
		margin: .5rem 1rem 4rem;
		text-align: right;
	}
	&-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background: var.$white;
	}
	&__text {
		font-size: 1.25rem;
		// background: var(--emphasis);
		// color: var(--background);
		font-style: italic;
		line-height: 1.9;
		padding-top: .25rem;
		&-container {
			margin: 1rem;
		}
	}
	&__image {
        &-container {
        	background: var.$white;
        	display: flex;
        	& picture {
				margin: 0;
		        min-width: 12rem;
		        & img {
			        object-fit: contain;
			        margin-top: 0;
		        }
        	}
            [data-difficulty="1"] & {
                background: var(--emphasis);
            }

            [data-difficulty="2"] & {
                background: var(--warning);
            }

            [data-difficulty="3"] & {
                background: var(--alert);
            }
        }
	}
}

@media (prefers-color-scheme: dark) {
	.summary {
		&-container {
			background: var(--background--offset);
		}
		background: var(--background--offset);
		&__text {
			// background: var(--warning);
			// color: var(--background);
		}
	}
}

@media (min-width: var.$breakpoint) {
	.summary {
		max-width: min(calc(100vw - 12rem), 60ch);
		border-top: .125rem solid var(--background--offset);
		border-left: .125rem solid var(--background--offset);
		border-bottom: .125rem solid var(--background--offset);
		position: relative;
		padding-top: 0;
		&:before {
			content: " ";
		    height: 2rem;
		    width: 2rem;
		    position: absolute;
		    border-right: 2px solid var(--background--offset);
		    border-bottom: 2px solid var(--background--offset);
		    left: -2rem;
		    top: -2rem;
		}
		&:after {
			content: " ";
			position: absolute;
			border-left: 2px solid var(--background--offset);
		    height: 2rem;
		    right: 0;
		}
		&-container {
			margin-top: 12rem;
			margin-bottom: 14rem;
			background: transparent;
		}
		&__date {
			margin-bottom: 0;
		}
		&__image {
			border-right: .125rem solid var(--background--offset);
			border-bottom: .125rem solid var(--background--offset);
			border-top: .125rem solid var(--background--offset);
			padding-right: 1rem;
			padding-left: 1rem;
			&-container {
				flex-basis: 20vw;
				&:after {
					content: " ";
				    position: absolute;
				    width: 10rem;
				    border-top: 2px solid var(--background--offset);
				    right: 0;
				}
			}
		}
	}
}

.toc {
	margin: 1rem 1rem 4rem;
	text-align: center;
	& h2 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	&__svg {
		height: 4rem;
		background: var(--background);
	}
	& ol {
		padding-left: 0;
	}
	& li {
		list-style-position: inside;
	}
}

@media (min-width: var.$breakpoint) {
	.toc {
		margin: 2rem 1rem;
		&__svg {
			display: none;
		}
	}
}