@use '../variables.scss' as var;

// Structure
.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & nav {
    	display: flex;
    }
    &__links {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        transform: translateX(-100vw);

        &--expanded {
            transform: translateX(0);
        }

        &-close-target {
        	height: 3.33rem;
        }
    }

    &__toggle {
	    &-button {
	    	align-self: center;
	        padding: .5rem .75rem;
	        align-self: stretch;
	        background: var(--background);
	        &--close {
	            align-self: stretch;
	        }
	    }
	    &-tap-to-close {
	        font-size: 0;

	        &--open {
	            width: 80vw;
	            height: 100vw;
	            opacity: 0;
	            right: 0;
	            position: absolute;
	        }
	    }
    }
}

// Theme
.nav {
	&__links {
		&-close-target {
			height: 3.33rem;
		    padding-bottom: 4rem;
		    border-bottom: 0.125rem solid var(--background--offset);
		}
		& ul {
			font-size: 1.5rem;
			padding:0;
			margin: 0;
			background: var(--background);
        	border-bottom: .125rem solid var(--background--offset);
            & li {
            	line-height: 2;
            	margin: 0;
            	&:nth-child(even) {
            		background: var(--background--offset);
            	}
            }
            & a {
            	display: block;
            	padding: 1rem 3rem;
            }
		}
	}
	&__toggle-button {
		background: var(--background);
		border-right: .125rem solid var(--background--offset);
	}
}
@media (min-width: var.$breakpoint) {
	.nav {
    	border-bottom: .125rem solid var(--background--offset);
		&__links {
			width: max(20vw, 20rem);
        	transform: translateX(-100vw);

	        &--expanded {
	            transform: translateX(0);
	            box-shadow: 0 0 2vw var(--foreground);
	            backdrop-filter: blur(1rem);
	            color: var(--foreground);
	            border-right: .125rem solid var(--background--offset);
	        }
		}
        // & ul {
        // 	margin-top: 0;
        //     padding-top: 1rem;
        //     padding-right: 2rem;
        // }
	}
}

@media (prefers-color-scheme: dark) and (min-width: var.$breakpoint) {
    .nav__links--expanded {
        background: var(--background);
        box-shadow: 1vw 0 1vw var(--background);
        border-width: .125rem;
        border-top: none;
        border-bottom: none;
    }
}