@use '../variables.scss' as var;

.tldr {
	background: var(--null-1);
	color: var.$background;
	padding: max(4vw, 2rem) max(2vw, 1rem);
	margin-top: 4rem;
	& h2 {
		margin-top: 0;
	}
	& abbr {
		text-decoration: none;
	}
	&-link {
		display: block;
		background: var(--alert);
		text-align: center;
		padding: .25rem;
		margin-top: 1rem;
		color: var.$foreground;
	}
}